*{

    box-sizing: border-box;
}

body{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 80%);
}
:root{
    --LeftDesk: 50%;
    --Desktop : 470px;

}

.game{
    width: 700px;
    height: 500px;
    background-color: black;
    position: relative;
    overflow: hidden;
      -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}

.desk{
   position: absolute;
   width: 100px;
   height: 20px;
   background-color: aqua;
   left : var(--LeftDesk);
   top: var(--Desktop);
   transform: translateX(-50%);
}