*{

    box-sizing: border-box;
}

body{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 80%);
}
:root{
    --LeftDesk: 50%;
    --Desktop : 470px;

}

.game{
    width: 700px;
    height: 500px;
    background-color: black;
    position: relative;
    overflow: hidden;
      -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}

.desk{
   position: absolute;
   width: 100px;
   height: 20px;
   background-color: aqua;
   left : var(--LeftDesk);
   top: var(--Desktop);
   transform: translateX(-50%);
   pointer-events: none;
}
.walls{
    border: 1px solid white;
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    pointer-events: none;
}
.wall{
    width: 50px;
    height: 10px;
    background-color: aqua;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.wall:nth-child(8n){
    margin-right: 0px;
}